{% extends 'fragments/dashboard/base.html' %} 
{% load static %}

{% block master %}
<div class="header-page">
  <h1>मास्टर डाटा कन्फिगरेसन</h1>
  <a href="{% url "dashboard:master_configuration" %}" class="btn btn-icon-only btn-sm"
	>
	<i class="ic-close-circular-filled text-danger"></i
  ></a>
</div>
{% endblock master %} 

{% block content %}
  <div class="inner screen-user-setup">
    <div class="container">
      <ul class="tab-01 nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link {% if not active_tab or active_tab == 'position' %}active{% endif %}"
            id="pills-masterDataFive-tab"
            data-toggle="pill"
            href="#pills-masterDataFive"
            role="tab"
            aria-controls="pills-masterDataFive"
            aria-selected="{% if not active_tab or active_tab == 'position' %}true{% else %}false{% endif %}"
            >पद</a
          >
        </li>
      </ul>
      <div class="card card-body radius-top-0">
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade {% if not active_tab or active_tab == 'position' %}show active{% endif %}"
            id="pills-masterDataFive"
            role="tabpanel"
            aria-labelledby="pills-masterDataFive-tab"
          >
          <form action="{% url 'dashboard:post_update' form.instance.pk %}" method="post" id="userPost">
          {% csrf_token %}
            <h6 class="mb-2">पदको डाटा सेटअप</h6>

            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <label>पदको नाम</label>
                  <input
                    name="name"
                    class="form-control"
                    value="{{form.instance.name|default_if_none:''}}"
                    type="text"
                    id="userspost_name"
                    placeholder="यहाँ पदको नाम टाइप गर्नुहोस्"
                  />
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="form-group">
                  <label> &nbsp;</label>
                  <div>
                    <button
                      type="submit"
                      data-inline="true"
                      class="btn btn-success"
                    >शेभ गर्नुहोस्
                    </button>
                    <a class="btn btn-danger" href="{% url 'dashboard:master_configuration' %}?filter=position">रद्द गर्नुहोस्</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block extra_scripts %}
<script>
$("#userPost").submit(function (e) {
  e.preventDefault();
  $.ajax({
    type: "POST",
    data: {
      'name': $("#userspost_name").val(),
      csrfmiddlewaretoken: "{{ csrf_token }}",
    }, 
    success: function (response) {
      console.log(response)
      window.location.href = "{% url 'dashboard:master_configuration' %}?filter=position";
      setInterval('refreshPage()', 1000);
    },
  });
});
</script>
{% endblock extra_scripts%}