{% extends 'fragments/dashboard/base.html' %} 
{% load static %}



{% block content %}
<Fragment>
    <div class="container">
       <div
        class="modal mymodal modal-01"
        id="deleteModal"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header align-items-center">
              <h5 class="modal-title">सूचकका पुष्टि मेटाउनुहोस्</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span
                  aria-hidden="true"
                  class="ic-close-circular-filled text-danger h5"
                ></span>
              </button>
            </div>
            <div class="modal-body">
            <form action="" method="POST" class="delete-form">
                {% csrf_token %}
                <label class="d-block">के तपाईं पक्का डिलिट गर्न चाहानुहुन्छ?
                <br/><small>All child questions and options related to this Index will be deleted.</small>
                </label>               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">
                रद्द गर्नुहोस्
              </button>
              <button type="submit" class="btn btn-danger">मेटाउनुहोस्</button>
               </form>
            </div>
          </div>
        </div>
        

      </div>
      <div
        class="modal mymodal"
        id="assignModal"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header align-items-center">
              <h5 class="modal-title">सूचक विभाग अपडेट</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span
                  aria-hidden="true"
                  class="ic-close-circular-filled text-danger h5"
                ></span>
              </button>
            </div>
          <form action="" method="POST" class="assign-form">
               {% csrf_token %}
          <div class="modal-body">
              
            <div class="form-group">
              <label>स्तर</label
              ><select name="level" class="form-control levels">
                छान्नुहोस्
                <option val="" disabled selected>छान्नुहोस्...</option>
                {% for level in levels %}
                 <option value="{{level.pk}}">{{level.name}}</option>
                {% endfor %}
              </select>
               <span class="error">{{form.level.errors.as_text}}</span>
            </div>              
            <div class="form-group d-group" style="display:none;">
              <label>विभाग/संस्था/मन्त्रालय</label
              ><select name="depart" required class="form-control departs">
                छान्नुहोस्
                <option val="" disabled selected>छान्नुहोस्...</option>
              </select>
               <span class="error">{{form.level.errors.as_text}}</span>
            </div>           
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">
               रद्द गर्नुहोस्
              </button>
              <button type="submit" class="btn btn-info assign-btn" disabled>शेभ गर्नुहोस्</button>
             </form>
            </div>
          </div>
          </div>
        </div>
        </div>
    
      <div
        class="modal mymodal modal-01"
        id="addModal"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header align-items-center">
              <h5 class="modal-title">नयाँ सूचक थप्नुहोस</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span
                  aria-hidden="true"
                  class="ic-close-circular-filled text-danger h5"
                ></span>
              </button>
            </div>
            <form action="{% url 'dashboard:add_index' survey.id %}" id="qForm" method="POST">
            {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label>सूचकको शीर्षक</label>
                <input
                  class="form-control"
                  type="text"
                  name="title"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>
              <div class="form-row">
                <div class="col-lg-12">
                 <div class="form-group">
                      <label>Sequence ID</label>

                      <input
                        class="form-control"
                        type="number"
                        name="sequence_id"
                        placeholder="जस्तै १"
                      />
              
                    </div>
                  <div class="form-group">
           
                    <div class="form-check form-check-inline">
                     
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="month_requires"
                        id="inlineRadio22"
                        value="1"
                      />
                      <label class="form-check-label" for="inlineRadio22"
                        >महिना आवश्यक</label
                      >
                    </div>                   
                     
                    </div>
                </div>
              </div>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">
                रद्द गर्नुहोस्
              </button>
              <button
                type="submit"
                class="btn btn-primary"
              >
                सिर्जना गर्नुहोस्
              </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
         <div
        class="modal mymodal modal-01"
        id="updateModal"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
            <div class="modal-body">
              <div class="modal-content">
            <div class="modal-header align-items-center">
              <h5 class="modal-title">सूचक अपडेट गर्नुहोस्</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span
                  aria-hidden="true"
                  class="ic-close-circular-filled text-danger h5"
                ></span>
              </button>
            </div>
             <div class="modal-body index-update">
   
           
         
            </div>
         
           
          </div>
         
              
          </div>
           
        </div>
        </div>
        


    <div class="header-page">
      <label> {{survey.name}} Survey Detail for {{survey.get_level_display}}</label>
    </div>
      
      
      
    <div class="card card-body mt-3">
      <div class="text-right">
          <a href="{% url 'dashboard:home' %}">
          <button type="button" class="btn btn-light btn-icon">पछाडी जानुहोस</button>
          </a>
      {% user_can_add request 'survey_setup' as add %}
        {% if add %}
        <button type="button" data-toggle="modal" data-target="#addModal" class="btn btn-info btn-icon">
          <i class="ic-add"></i>
            थप सूचक
        </button>
        {% endif %}

      </div>
        <div class="table-responsive">
          <table class="table table-02" >
            <thead>
              <tr>
                <th>सूचक</th>
                <th>विभाग/संस्था/मन्त्रालय</th>
                <th>सूचकहरु</th>
                <th class="text-right">कार्य</th>
              </tr>
            </thead>
            <tbody>
              {% for question in questions %}
              <tr>
              <td>{{question.title|truncatewords:5}}</td>
              <td>{{question.department}}</td>
              {% if question.children_questions.all.count < 1 %}
                <td>{{question.count}}1</td>
              {% else %}
                <td>{{question.children_questions.all.count}}</td>
              {% endif %}
                
                <td class="text-right">
                 {% comment %} <a href="#" url="{% url 'dashboard:assign_depart' question.id %}" data-toggle="modal" data-target="#assignModal" title="विभाग अपडेट" class="text-coolGray600 assign-q">
                    <i class="ic-error"></i
                  ></a> &nbsp; {% endcomment %}
                  {% user_can_change request 'survey_setup' as update %}
                  {% if update %}
                 <a href="#" url="{% url 'dashboard:index_update' question.id %}" data-toggle="modal" data-target="#updateModal" title="सूचकका जानकारी अपडेट" class="text-coolGray600 update-q">
                    <i class="ic-info"></i
                  ></a> &nbsp;
                  {% endif %}
                  {% user_can_delete request 'survey_setup' as delete %}
                  {% if delete %}
                  <a href="#" url="{% url 'dashboard:index_delete' question.id %}" data-toggle="modal" data-target="#deleteModal" title="मेटाउनुहोस्" class="text-coolGray600 delete-q">
                    <i class="ic-delete"></i
                  ></a>
                  {% endif %}
                {% user_can_add request 'survey_setup' as add %}
                  {% if add %}
                     <a href="{% url 'dashboard:index_option_add_more' question.id %}" title="थप" class="mr-2 text-coolGray600">
                    <i class="ic-add"></i
                  ></a>
                  {% endif %}
                  
                {% user_can_change request 'survey_setup' as change %}
                  {% if change %}
                  <a href="{% url 'dashboard:index_option_update' question.id %}" title="सूचकका विकल्प सम्पादन गर्नुहोस्" class="mr-2 text-coolGray600">
                    <i class="ic-edit"></i
                  ></a>
                  {% endif %}
                  
                </td>
              </tr>
            
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</Fragment>
{% endblock content %}

{% block extra_scripts %}
<script>
$(document).on("click", ".delete-q", function(){
    action = $(this).attr('url')
    $(".delete-form").attr("action", action);
})

$(document).on("click", ".update-q", function(){
    action = $(this).attr('url')
    $(".update-form").attr("action", action);
    $.ajax({
      url:action,
      type:"GET",
      success:function(data){
        $(".index-update").html(data);
         {% comment %} $('.update-form').find(".month-r").prop("checked", false);
         $('.update-form').find('.title-i').val(data['title']);
         $('.update-form').find('.seq').val(data['sequence_id']);
         $('.update-form').find('.departments').empty();
         $('.update-form').find(`.departments option[value="${data['depart']}"]`).prop('selected', true);
         if(data['month_requires']){
           $('.update-form').find(".month-r").prop("checked", true)
         } {% endcomment %}
      }
    })
})


$("body").on("submit", "#qForm", function(e) {
        e.preventDefault();
        url=$(this).attr('action')          
        $.ajax({
        url: url,
        type: 'POST',           
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function (data) {
        if(data['success']){
          location.href = data['url']
        }
        else if($("input").next('p').length) $("input").nextAll('p').remove();
          for (var error in data) {
            var input = $("input[name='"+ error +"']");
            input.after('<p class="error" id='+error +'-error for='+ error +'><span>'+ data[error] +'</span></p>');
          }
              
            },
          });
         
      });

  $("body").on("submit", ".update-form", function(e) {
        e.preventDefault();
        url=$(this).attr('action')  
        $.ajax({
        url: url,
        type: 'POST',           
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function (data) {
        if(data['success']){
          location.href = data['url']
        }
        else if($("input").next('p').length) $("input").nextAll('p').remove();
          for (var error in data) {
            var input = $("input[name='"+ error +"']");
            input.after('<p class="error" id='+error +'-error for='+ error +'><span>'+ data[error] +'</span></p>');
          }
              
            },
          });
         
      });

  $(document).on("change", ".levels", function () {
    let id = $(this).find(":selected").val();
    let url = "{% url 'user_mgmt:get_level_departs' 0 %}".replace(0, id);
    $.ajax({
          url: url,
          type: "GET",
          dataType: "json",
          success: function (data) {
            $(".d-group").show();
            $(".assign-btn").prop("disabled", false);
            $(".departs").empty();
            for (var i = 0; i < data["departs"].length; i++) {
              d_id = data["departs"][i]["id"];
              d_name = data["departs"][i]["name"];
              $(".departs").append(
                `<option value="${d_id}">${d_name}</option>`
              );
            }
          },
      });
  });

  $(document).on("click", ".assign-q", function(){
    action = $(this).attr('url')
    $(".assign-form").attr("action", action);
})
</script>

{% endblock extra_scripts %}