<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email Template</title>
  </head>
  <body>
    <table
      width="600"
      style="
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.875rem;
        color: rgb(51, 51, 51);
      "
    >
      <tr>
        <td>
          <div
            style="
              background-color: rgb(189, 9, 18);
              height: 8px;
              width: 30%;
              float: left;
            "
          ></div>
          <div
            style="
              background-color: rgb(66, 93, 184);
              height: 8px;
              width: 70%;
              float: left;
            "
          ></div>
        </td>
      </tr>
      <tr>
        <td style="padding: 32px 48px 0 48px">
          <div style="float: left">
            <img src="{{logo_img}}" alt="logo" width="80" />
          </div>
          <div style="float: left; margin-left: 16px">
            <p
              style="
                color: rgb(189, 9, 18);
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
                margin-top: 8px;
              "
            >
              राष्ट्रिय प्राकृतिक श्रोत तथा वित्त आयोग
            </p>
            <p
              style="
                color: rgb(66, 93, 184);
                font-size: 14px;
                font-weight: 600;
                margin-top: 8px;
              "
            >
              National Natural Resources & Fiscal Commission (NNRFC)
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 48px">
          <div
            style="
              margin-top: 4rem;
              font-weight: 600;
              margin-bottom: 1.5rem;
              font-size: 1rem;
            "
          >
            Hi {{user.full_name}},
          </div>
        </td>
      </tr>

      <tr>
        <td style="padding: 0 48px">
          <table
            style="
              font-size: 0.75rem;
              margin-top: 1.5rem;
              padding: 1rem;
              width: 100%;
              background-color: rgb(246, 246, 246);
            "
          >
            <tr>
              <td style="vertical-align: top; width: 100%">
                <table>
                  <tr>
                    <td style="margin-bottom: 0.5rem">
                      <div style="font-weight: 600; margin-bottom: 0.5rem">
                        आफ्नो पासवर्ड रिसेट गर्न तलको लिङ्क क्लिक गर्नुहोस्:
                      </div>
                      <a
                        href="{% if request.is_secure %}https{% else %}http{% endif %}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                        style="color: rgb(26, 115, 232); margin-bottom: 0.5rem"
                        >यहाँ क्लिक गर्नुहोस्
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 1rem 48px 1.5rem 48px">
          थप मद्दत वा जानकारी को लागि, हामीलाई
          <a href="#" style="color: rgb(26, 115, 232)">info@nnrfc.gov.np</a> मा
          ईमेल गर्नुहोस्।
        </td>
      </tr>
      <tr>
        <td style="background-color: rgb(66 93 184); padding: 1rem 0">
          <table
            style="
              font-size: 0.75rem;
              color: rgb(255, 255, 255);
              width: 100%;
              text-align: center;
            "
          >
            <tr>
              <td style="padding-bottom: 0.5rem">
                प्रतिलिपि अधिकार © {% now 'Y' %}. सबै अधिकार सुरक्षित।
              </td>
            </tr>
            <tr>
              <td>National Natural Resources & Fiscal Commission</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
