{% extends 'accounts/base.html' %} {% load static %}

{% block content %}
<div class="login-container">
  <div class="login-card">
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-sm-8 col-md-6 d-md-block d-none">
        <div class="login-greeting login-greeting-lg">
          <div class="align-center">
            <div class="logo">
              <img src="{% static 'front/assets/images/gov-logo.png' %}" alt="" />
            </div>
            <div>
              <p>राष्ट्रिय प्राकृतिक स्रोत तथा वित्त आयोग</p>
            </div>
          </div>
          <div class="login-divider"></div>
          <div class="greeting">
            <h3>NNRFC को अनलाइन पोर्टलमा स्वागत छ</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-8">
        <div class="login-form">
          <h4>पासवर्ड भुल्नु भयो ?</h4>
          <p class="mt-2">NNRFC ले दिएको ईमेल तल राखी दिनुहोला । धन्यवाद।</p>
          <div class="d-flex justify-content-between align-items-center mb-3">
            {% for error in form.non_field_errors  %}
            <span class="error">{{error}}</span>
            {% endfor %}
          </div>
          <form action="" method="POST">
           {% csrf_token %}
            <div class="form-group">
              <label htmlFor="">ईमेल</label>
              <input type="email" name="email" placeholder="ईमेल टाइप गर्नुहोस्" value="{{form.email.value|default_if_none:''}}" class="form-control" />
              {% if form.email.errors %}<span class="error">{{form.email.errors.as_text}}</span>{% endif %}
            </div>
            <button type="submit" to="/" class="btn btn-primary btn-block my-3"> पेश गर्नुहोस् </button>
            <a class="btn btn-primary btn-block my-3" href="{% url 'user_mgmt:login' %}">लग – इन पेजमा फर्कनुहोस्</a><br/>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}