{% extends 'accounts/base.html' %} {% load static %} 

{% block content %}
<div class="login-container">
  <div class="login-card">
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-sm-8 col-md-6 d-md-block d-none">
        <div class="login-greeting login-greeting-lg">
          <div class="align-center">
            <div class="logo">
              <img
                src="{% static 'front/assets/images/gov-logo.png' %}"
                alt=""
              />
            </div>
            <div>
              <p>राष्ट्रिय प्राकृतिक स्रोत तथा वित्त आयोग</p>
            </div>
          </div>
          <div class="login-divider"></div>
          <div class="greeting">
            <h3>NNRFC को अनलाइन पोर्टलमा स्वागत छ</h3>
            <p class="mt-2">पासवर्ड परिवर्तन गर्नुहोस्।</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-6 col-8">
        <div class="login-form">
          <h4>पासवर्ड परिवर्तन</h4>
          <div class="d-flex justify-content-between align-items-center mb-3">
            {% for error in form.non_field_errors %}
            <span class="error">{{error}}</span>
            {% endfor %}
          </div>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label htmlFor="" class="d-block">
                <span class="d-block">नयाँ पासवर्ड</span>
              </label>
              <div class="form-control-icon rft">
                <input
                  type="password"
                  name="new_password1"
                  placeholder="नयाँ पासवर्ड टाइप गर्नुहोस्"
                  class="form-control"
                />
                {% if form.new_password1.errors %}<span class="error"
                  >{{form.new_password1.errors.as_text}}</span
                >{% endif %}
                <p class="ic-hide"></p>
              </div>
            </div>
            <div class="form-group">
              <label htmlFor="" class="d-block">
                <span class="d-block">नयाँ पासवर्ड सुनिश्चित गर्नुहोस</span>
              </label>
              <div class="form-control-icon rft">
                <input
                  type="password"
                  name="new_password2"
                  placeholder="नयाँ पासवर्ड पेश गर्नुहोस्"
                  class="form-control"
                />
                {% if form.new_password2.errors %}<span class="error"
                  >{{form.new_password2.errors.as_text}}</span
                >{% endif %}
                <p class="ic-hide"></p>
              </div>
            </div>

            <button type="submit" to="/" class="btn btn-primary btn-block my-3">
              पेश गर्नुहोस्
            </button>
            <button class="btn btn-outline-primary btn-block">
              पछाडी जानुहोस्
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
