{% extends 'fragments/dashboard/base.html' %} {% load static %} {% block user-list %}
<div class="header-page">
  <h1>प्रयोगकर्ता सेटअप</h1>
  {% comment %} <a href="{% url "user_mgmt:user_list" %}" class="btn btn-icon-only btn-sm"
    >
    <i class="ic-close-circular-filled text-danger"></i
  ></a> {% endcomment %}
</div>
{% endblock user-list %} {% block content %}

<Fragment>
  <div class="inner screen-user-setup">
    <div class="container">
      <div class="container">
       <div
        class="modal mymodal modal-01"
        id="deleteModal"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header align-items-center">
              <h5 class="modal-title">प्रयोगकर्ताको पुष्टिकरण मेटाउनुहोस्</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span
                  aria-hidden="true"
                  class="ic-close-circular-filled text-danger h5"
                ></span>
              </button>
            </div>
            <div class="modal-body">
            <form action="" method="POST" class="delete-form">
                {% csrf_token %}
                <label class="d-block">केतपाईं पक्का डिलिट गर्न चाहानुहुन्छ?</label>               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">
                रद्द गर्नुहोस्
              </button>
              <button type="submit" class="btn btn-danger">डिलिट गर्नुहोस्</button>
               </form>
            </div>
          </div>
        </div>
        

      </div>
      <ul class="tab-01 nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="pills-userTabOne-tab"
            data-toggle="pill"
            href="#pills-userTabOne"
            role="tab"
            aria-controls="pills-userTabOne"
            aria-selected="true"
            >प्रदेश</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="pills-userTabTwo-tab"
            data-toggle="pill"
            href="#pills-userTabTwo"
            role="tab"
            aria-controls="pills-userTabTwo"
            aria-selected="false"
            > स्थानीय तह</a
          >
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-userTabOne"
          role="tabpanel"
          aria-labelledby="pills-userTabOne-tab"
        >
        <div class="card card-body p-users">
           <div class="user-add-form">
           {% user_can_add request 'users' as create %} {# 'users' is the menu code #}
            {% if create %}
          <form action="{% url 'user_mgmt:staff_create' %}" id="provinceUserForm" method="post">
            {% csrf_token %}
            <h6 class="mb-2">प्रयोगकर्ताको विवरण</h6>

            <div class="row">
         
              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रदेश</label
                ><select name="level" class="form-control">
                 छान्नुहोस्
                  <option value="" >छान्नुहोस्...</option>
                  {% for p in provinces %}
                  <option value="{{p.pk}}">{{p}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-lg-3 col-md-6 form-group">
                <label> विभाग/संस्था/मन्त्रालय</label
                ><select name="department" class="form-control">
                  छान्नुहोस्
                  <option value="" >छान्नुहोस्...</option>
                  {% for depart in departments %}
                  <option value="{{depart.pk}}">{{depart}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-lg-3 col-md-6 form-group">
                <label>कार्यालयको ईमेल </label>
                <input
                  class="form-control"
                  type="text"
                  name = "email"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>
              {% if user.is_superuser %}
                <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको भूमिका</label
                ><select name="user_role" class="form-control" >
                   छान्नुहोस्
                  <option value="" >छान्नुहोस्...</option>
                  {% for role in roles  %}
                  <option value="{{role.pk}}">{{role}}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको पुरा नाम</label>
                <input
                  class="form-control"
                  type="text"
                  name="full_name"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>

              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको व्यक्तिगत ईमेल</label>
                <input
                  class="form-control"
                  type="email"
                  name="personal_email"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>
              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको मोबाइल नम्बर</label>
                <input
                  class="form-control"
                  type="number"
                  name="mobile_num"
                  placeholder="नम्बर टाइप गर्नुहोस्"
                  pattern="[7-9]{1}[0-9]{9}" 
                  title="Please enter Phone number as Landline Area Code with 9-10 digit or Mobile number of 10 digit within 0-9"
                />
              </div>
              <div class="col-lg-3 col-md-6 form-group">
                <label>पद</label
                ><select name="post" class="form-control">
                   छान्नुहोस्
                  <option value="" >छान्नुहोस्...</option>
                  {% for post in posts  %}
                  <option value="{{post.pk}}">{{post}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success btn-icon p-submit">
                <i class="ic-add"></i>
                प्रयोगकर्ता थप्नुहोस्
              </button>
            </div>
            </form>
             {% endif %}
            </div>

            <div class="user-edit-form">
            </div>
         
          </div>
         
           <div class="option-group-new email-send" style="border: none; display:none;">
          <span class="text-info">Email Sending Failed..............</span> </div>

          <div class="card card-body mt-3">
            <div class="table-responsive p-table">
              <table class="table table-02 table-xl" id="table1">
                <thead>
                  <tr>
                    <th>प्रयोगकर्ताको पुरा नाम</th>
                    <th>प्रयोगकर्ताको भूमिका</th>
                    <th>प्रदेश</th>
                    <th>विभाग/संस्था/मन्त्रालय</th>
                    <th>कार्यालयको ईमेल</th>
                    <th>प्रयोगकर्ताको व्यक्तिगत ईमेल</th>
                    <th>प्रयोगकर्ताको मोबाइल नम्बर</th>
                    <th>पद</th>
                    <th class="text-right">कार्य</th>
                  </tr>
                </thead>
                <tbody>
                {% for u in p_users %}
                  <tr>
                    <td>{{u.full_name}}</td>
                    <td>
                    {% for role in u.roles.all  %}
                    {{role}} {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{u.level}}</td>
                    <td>{{u.department}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.personal_email}}</td>
                    <td>{{u.mobile_num}}</td>
                    <td>{{u.post}}</td>
                    <td class="text-right">
                        {% user_can_change request 'users' as update %}
                        {% if update %}
                        <a
                          href="#"
                          data-url="{% url 'user_mgmt:user_edit' u.id %}"
                          title="Edit"
                          class="mr-2 text-coolGray600 edit-user"
                        >
                          <i class="ic-edit"></i
                        ></a>
                        {% endif %}
                        {% user_can_delete request 'users' as delete %}
                        {% if delete %}
                        <a href="#" url="{% url 'user_mgmt:user_delete' u.id %}"
                        data-toggle="modal"
                        data-target="#deleteModal"
                        title="Delete" class="text-coolGray600 d-role">
                        <i class="ic-delete"></i
                        ></a>
                        {% endif %}
                  
                </td>
                  </tr>
                  {% endfor %}
      
                </tbody>
              </table>
            </div>
        </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-userTabTwo"
          role="tabpanel"
          aria-labelledby="pills-userTabTwo-tab"
        >
          <div class="card card-body l-users">
           <div class="l-user-add-form">
           {% user_can_add request 'users' as create %} {# 'users' is the menu code #}
            {% if create %}
          <form action="{% url 'user_mgmt:staff_create' %}" id="localUserForm" method="post">
            {% csrf_token %}
            <h6 class="mb-2">प्रयोगकर्ताको विवरण</h6>

            <div class="row">
              {% comment %} <div class="col-lg-3 col-md-6 form-group">
                <label>User Role</label
                ><select class="form-control">
                  Select
                  <option>Select...</option>p-table
                  <option>OptionsA</option>
                  <option>OptionsB</option>
                </select>
              </div> {% endcomment %}
              <div class="col-lg-3 col-md-6 form-group">
                <label>स्थानीय तह</label
                ><select name="level" class="form-control">
                  छान्नुहोस्
                  <option value="" >छान्नुहोस्...</option>
                  {% for l in l_levels %}
                  <option value="{{l.pk}}">{{l}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-lg-3 col-md-6 form-group">
                <label>कार्यालयको ईमेल</label>
                <input
                  class="form-control"
                  type="text"
                  name="email"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको पुरा नाम</label>
                <input
                  class="form-control"
                  type="text"
                  name="full_name"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>

              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको व्यक्तिगत ईमेल</label>
                <input
                  class="form-control"
                  type="email"
                  name="personal_email"
                  placeholder="टाइप गर्नुहोस्"
                />
              </div>
              <div class="col-lg-3 col-md-6 form-group">
                <label>प्रयोगकर्ताको मोबाइल नम्बर</label>
                <input
                  class="form-control"
                  type="number"
                  name="mobile_num"
                  placeholder="नम्बर टाइप गर्नुहोस्"
                  pattern="[7-9]{1}[0-9]{9}" 
                  title="Please enter Phone number as Landline Area Code with 9-10 digit or Mobile number of 10 digit within 0-9"
                />
              </div>
              <div class="col-lg-3 col-md-6 form-group">
                <label>पद</label
                ><select name="post" class="form-control">
                 छान्नुहोस्
                  <option value="" >छान्नुहोस्...</option>
                  {% for p in posts %}
                  <option value="{{p.pk}}">{{p}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success btn-icon l-submit">
                <i class="ic-add"></i>
                प्रयोगकर्ता थप्नुहोस्
              </button>
            </div>
            </form>
             {% endif %}
           
            </div>
             <div class="l-user-edit-form">
            </div>
            
           <div class="option-group-new l-email-send" style="border: none; display:none;">
          <span class="text-info">Email Sending Failed .............</span> </div>


          <div class="card card-body mt-3">
            <div class="table-responsive l-table">
              <table class="table table-02 table-xl" id="table2">
                <thead>
                  <tr>
                    <th>प्रयोगकर्ताको पुरा नाम</th>
                    {% comment %} <th>User Role</th> {% endcomment %}
                    <th>स्थानीय तह</th>
                    <th>कार्यालयको ईमेल</th>
                    <th>प्रयोगकर्ताको व्यक्तिगत ईमेल</th>
                    <th>प्रयोगकर्ताको मोबाइल नम्बर</th>
                    <th>पद 	</th>
                    <th class="text-right">कार्य</th>
                  </tr>
                </thead>
                <tbody>
                {% for u in l_users  %}
                  <tr>
                    <td>{{u.full_name}}</td>
                    {% comment %} <td>Admin</td> {% endcomment %}
                    <td>{{u.level}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.personal_email}}</td>
                    <td>{{u.mobile_num}}</td>
                    <td>{{u.post}}</td>
                      <td class="text-right">
                        {% user_can_change request 'users' as update %}
                        {% if update %}
                        <a
                          href="#"
                          data-url="{% url 'user_mgmt:user_edit' u.id %}"
                          title="Edit"
                          class="mr-2 text-coolGray600 l-edit-user"
                        >
                          <i class="ic-edit"></i
                        ></a>
                        {% endif %}
                        {% user_can_delete request 'users' as delete %}
                        {% if delete %}
                        <a href="#" url="{% url 'user_mgmt:user_delete' u.id %}"
                        data-toggle="modal"
                        data-target="#deleteModal"
                        title="Delete" class="text-coolGray600 d-role">
                        <i class="ic-delete"></i
                        ></a>
                        {% endif %}
                  
                </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
                 
          </div>
        </div>
      </div>
    </div>
  </div>
</Fragment>
{% endblock content %}

{% block extra_scripts %}
<script>
    const showMsg = (msg) => {
        var success_msg = ""+msg;
        var tags = "{{message.tags}}";
        Swal.fire({
                toast: true,
                icon: "{{message.tags}}",
                title: success_msg,
                animation: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
        });
    };


  $(document).on("submit", "#provinceUserForm", function (e) {
    e.preventDefault();
    url =$(this).attr("action");
   // $(".p-submit").prop("disabled", true);
   // $(".email-send").animate( { "opacity": "show", top:"100"} , 500 );
    $.ajax({
        url: url,
        type: "POST",
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function (data) {
          if (data["success"]) {
            $(".user-add-form").load(location.href + " .user-add-form");
            $(".p-table").load(location.href + " .p-table");
          //  $(".p-submit").prop("disabled", false);
          //  $('.email-send').hide();
            showMsg(data['msg']);
          } else if ($("#provinceUserForm input").next("p").length)
            $("#provinceUserForm input").nextAll("p").remove();
            else if ($("#provinceUserForm select").next("p").length)
            console.log('')
            $("#provinceUserForm select").nextAll("p").remove();
          for (var error in data) {
            //$(".p-submit").prop("disabled", false);
           // $('.email-send').hide();
            let input = $("#provinceUserForm input[name='" + error + "']");
            input.after('<p class="error" id=' + error + "-error for=" + error +"><span>" + data[error] +"</span></p>");
            let select = $("#provinceUserForm select[name='" + error + "']");
            select.after('<p class="error" id=' + error + "-error for=" + error +"><span>" + data[error] +"</span></p>");
          }
           if (data["email_failed"]) {
            $(".email-send").animate( { "opacity": "show", top:"100"} , 500 ).delay(1300).fadeOut('slow');
           }
        },
      });
  });

$("body").on("submit", "#localUserForm", function (e) {
    e.preventDefault();
    url =$(this).attr("action");
    
    $.ajax({
        url: url,
        type: "POST",
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function (data) {
          if (data["success"]) {
            $(".l-user-add-form").load(location.href + " .l-user-add-form");
            $(".l-table").load(location.href + " .l-table");
           
            showMsg(data['msg']);
          } else if ($("#localUserForm input").next("p").length)
            $("#localUserForm input").nextAll("p").remove();
            else if ($("#localUserForm select").next("p").length)
            console.log('')
            $("#localUserForm select").nextAll("p").remove();
          for (var error in data) {
            let input = $("#localUserForm input[name='" + error + "']");
            input.after('<p class="error" id=' + error + "-error for=" + error +"><span>" + data[error] +"</span></p>");
            let select = $("#localUserForm select[name='" + error + "']");
            select.after('<p class="error" id=' + error + "-error for=" + error +"><span>" + data[error] +"</span></p>");
          }
           if (data["email_failed"]) {
            $(".l-email-send").animate( { "opacity": "show", top:"100"} , 500 ).delay(1300).fadeOut('slow');
           }
        },
      });
  });

$(document).on("click", ".edit-user", function() {
    url=$(this).attr('data-url');
    $.ajax({
    url: url,
    type: 'GET',
    success: function (data) {
      $('.user-add-form').hide();
      $('.user-edit-form').html(data);
    },
  });
  });

  $(document).on("click", ".l-edit-user", function() {
    url=$(this).attr('data-url');
    $.ajax({
    url: url,
    type: 'GET',
    success: function (data) {
      $('.l-user-add-form').hide();
      $('.l-user-edit-form').html(data);
    },
  });
  });

$(document).on("click", ".d-role", function(){
  let url = $(this).attr('url');
  $('.delete-form').attr('action', url)
})
</script>
<script>
  $(document).ready( function () {
    $('#table1').DataTable();
    $('#table2').DataTable();
} );

</script>
{% endblock extra_scripts %}